#impressa {
    padding: 10rem 8.75rem; 
    overflow: hidden;
}

.impressaSlide {
    scroll-snap-type: x proximity;
    display: flex;
    transition: transform .25s;
    gap: 2rem;
}

.impressaInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.impressaInfo h1 {
    max-width: 225px;
    font-size: 44px;
    font-weight: 500;
    line-height: 56.75px;
}

.impressaInfo .impressaBtns {
    display: flex;
    gap: 2rem;
    height: fit-content;
}

.impressaInfo .impressaBtns button {
    cursor: pointer;
}

.impressaItem {
    scroll-snap-align: start;
    flex-shrink: 0;
    max-width: 422px;
}

.impressaItem .imgContent {
    height: 284px;
    margin-bottom: 2rem;
}

.impressaItem img {
    display: block;
    height: 100%;
    width: 100%;
}

.impressaItemTitle {
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 1.5rem;
}

.impressaItemDesc {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
}