#footer {
    background-color: #F6F6F6;
    position: relative;
    padding: 4.6rem 8.75rem;
}

.footerTop {
    margin-bottom: 4.5rem;
}

#footer hr {
    background-color: transparent;
    border-top: 1px solid #C6C6C6;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 0px;
}

#footer h4 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

#footer .footerNav {
    display: flex;
    justify-content: space-between;
}

#footer .footerLinks {
    list-style: none;
}

.footerLinks a {
    position: relative;
    transition: linear .25s;
}
.footerLinks a:hover::after {
    width: 100%;
}
.footerLinks a::after {
    transition: linear .25s;
    content: '';
    background-color: #000;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#footer .footerLinks a {
    color: #000;
    font-size: 16px;
}

#footer .socialNet h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.85rem;
}

.socialNet .socialIcons {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.footerList {
    gap: 1.9rem;
    display: flex;
    flex-direction: column;
}

#footer .footerCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8.5rem;
}

#footer .footerBottom {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding-top: 2.5rem;
}

.footerBottom a {
    color: #000;
    font-size: 16px;
}

.footerBottom h4 a {
    position: relative;
    transition: linear .25s;
}
.footerBottom h4 a:hover {
    font-weight: 500;
}
.footerBottom h4 a::after {
    transition: linear .25s;
    content: '';
    background-color: #000;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}